<div class="commentsContainer">
  <div>
    <div class="userNameLikes border">
      <span class="commentCount">5 Comments</span>
      <span class="likes likesBorder" id="likeButton">Likes</span>
      <span class="likes likesMargin">Sort</span>
    </div>
  </div>
  <div class="commentsSection">
    <div class="userNameLikes">
      <span class="userName"></span>
      <span class="likes"></span>
    </div>
    <div class="comment">
      Loading...
    </div>
  </div>

</div>